<h2>Example 13 - My Cart(Add/Remove Product)</h2>

<ul>
  <li *ngFor="let product of products()">
    {{ product.name }} - ${{ product.price }}

    <button
      mat-raised-button
      color="warn"
      (click)="removeFromCart(product)"
      *ngIf="selectProductsIds().includes(product.id); else addProductTemp"
    >
      Remove
    </button>

    <ng-template #addProductTemp>
      <button mat-raised-button color="primary" (click)="addToCart(product)">
        Add
      </button>
    </ng-template>
  </li>
</ul>

<p>
  Total Price: <b>${{ totalPrice() }}</b>
</p>
