:host{
    display: contents;
    form {
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    label {
      font-weight: bold;
    }
    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      padding: 0.75rem;
      border-radius: 4px;
      cursor: pointer;
    }
    button:disabled {
      cursor: not-allowed;
    }
}
