:host ::ng-deep {
  .app-logo {
    font-size: 25px;
  }

  button {
    &.mat-mdc-button {
      padding: 10px;
      margin: 10px;
      font-size: 16px;
    }
  }

  .menu-spacer {
    flex: 1 1 auto;
  }
}
