<header>
  <div class="header-content">
    <a class="logo" [routerLink]="['/']">
      🚀 Angular Signals
    </a>
    
    <nav>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a [routerLink]="['/signal']" routerLinkActive="active">
        Signal
      </a>
      <a [routerLink]="['/linked-signal']" routerLinkActive="active">
        LinkedSignal
      </a>
      <a [routerLink]="['/resource-api']" routerLinkActive="active">
        Resource API
      </a>
      <a [routerLink]="['/defer-block']" routerLinkActive="active">
        Defer Block
      </a>
      <a
        target="_blank"
        aria-label="Github Repo link"
        href="https://github.com/sonusindhu/angular-signals-examples"
        class="github-link"
      >
        <img src="/assets/images/github-icon.svg" alt="GitHub" />
      </a>
    </nav>
  </div>
</header>
