<div class="example-container">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Demo">
      <div class="content-area">
        <h2>Signal Example 9 - Simple VAT Calculator</h2>
        <p>This example demonstrates a VAT calculator using Angular signals.</p>
        <div class="demo-section">
          <div class="vat-container">
            <h3>🧾 VAT Calculator</h3>
            <div class="controls">
              <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" min="0" oninput="validity.valid || (value = 0);" (input)="onInputUpdate($event)" [value]="price()" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>VAT(%)</mat-label>
                <input matInput type="number" min="0" (input)="onInputVat($event)" [value]="vatInPercent()" />
              </mat-form-field>
            </div>
            <div class="info-section">
              <div class="summary">
                <p>Total Summary:</p>
                <p>Total VAT: {{ totalVat() }}</p>
                <p><b>Total Price:</b> {{ total() }}</p>
              </div>
              <button mat-raised-button color="primary" (click)="save()">Save</button>
              <hr />
              @if (listing().length) {
              <table>
                <thead>
                  <tr>
                    <th>Price</th>
                    <th>VAT(%)</th>
                    <th>Total VAT</th>
                    <th>Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of listing()">
                    <td>{{ entry.price }}</td>
                    <td>{{ entry.vatPercent }}%</td>
                    <td>{{ entry.vat }}</td>
                    <td>{{ entry.total }}</td>
                  </tr>
                </tbody>
              </table>
              }
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="HTML">
      <markdown clipboard [src]="'assets/examples/signal/signal-example9/signal-example9.component.html.md'"></markdown>
    </mat-tab>
    <mat-tab label="TS">
      <markdown clipboard [src]="'assets/examples/signal/signal-example9/signal-example9.component.ts.md'"></markdown>
    </mat-tab>
    <mat-tab label="CSS">
      <markdown clipboard [src]="'assets/examples/signal/signal-example9/signal-example9.component.scss.md'"></markdown>
    </mat-tab>
  </mat-tab-group>
</div>
