<h2>Example 9 - Simple VAT calculator</h2>

<mat-form-field>
  <mat-label>Price</mat-label>
  <input
    matInput
    type="number"
    min="0"
    oninput="validity.valid || (value = 0);"
    (input)="onInputUpdate($event)"
    [value]="price()"
  />
</mat-form-field>

<mat-form-field>
  <mat-label>VAT(%)</mat-label>
  <input
    matInput
    type="number"
    min="0"
    (input)="onInputVat($event)"
    [value]="vatInPercent()"
  />
</mat-form-field>

<div>
  <div class="summary">
    <p>Total Summary;-</p>
    <p>Total VAT: {{ totalVat() }}</p>
    <p><b>Total Price:</b> {{ total() }}</p>
  </div>

  <button mat-raised-button color="primary" (click)="save()">Save</button>

  <hr />
  @if (listing().length) {
  <table>
    <thead>
      <tr>
        <th>Price</th>
        <th>VAT(%)</th>
        <th>Total VAT</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of listing()">
        <td>{{ entry.price }}</td>
        <td>{{ entry.vatPercent }}%</td>
        <td>{{ entry.vat }}</td>
        <td>{{ entry.total }}</td>
      </tr>
    </tbody>
  </table>
  }
</div>
