<div class="example-container">

     <div class="flex flex-wrap gap-2 items-center justify-start mt-4 mb-4">
        <button mat-stroked-button color="primary" routerLink="/advanced">Go to List</button>
        <button mat-stroked-button color="primary" [routerLink]="'/advanced/example12'">Prev</button>
        <button mat-stroked-button color="primary" disabled>Next</button>
    </div>

    <h2>Example 12: User Form</h2>
    <p>
        This demo shows how to preload modules only when triggered (e.g., on hover) using a service and custom PreloadingStrategy. Bandwidth is saved until actually needed.
    </p>
    
</div>
