<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Demo">
    <div class="content-area">
      <h2>Example 1 - Count Increment/Decrement</h2>
      <p>Count is: {{ count() }}</p>
      <p>
          <button mat-raised-button 
            style="margin-right: 1rem" color="primary" (click)="decreaseCount()">
            Decrease -
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="increaseCount()"
          >
            Increase +
          </button>
       
      </p>
    </div>

  </mat-tab>
  <mat-tab label="HTML">
    <markdown clipboard [src]="'assets/examples/signal/signal-example1/signal-example1-md.component.html'"></markdown>
  </mat-tab>
  <mat-tab label="TS">
    <markdown clipboard [src]="'assets/examples/signal/signal-example1/signal-example1.component.ts'"></markdown>
  </mat-tab>
</mat-tab-group>


