<div class="container">
  <h2>Defer Block Examples</h2>
  <div class="card-grid">
    @for (item of deferBlockExamples(); track item) {
      <a class="card-item" [routerLink]="item.routerLink">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ item.title }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ item.content }}
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    }
  </div>
</div>
