<div class="navbar">

  <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Signals Example
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a [routerLink]="['/signal/signal-example1']" routerLinkActive="active">Example1</a>
      <a [routerLink]="['/signal/signal-example2']" routerLinkActive="active">Example2</a>
      <a [routerLink]="['/signal/signal-example3']" routerLinkActive="active">Example3</a>
    </div>
  </div>

</div>
<router-outlet />