:host{
    display: contents;
    .project-card {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 1rem;
      background: #fafafa;
    }

    input {
    padding: 0.7rem 1.1rem;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    min-width: 200px;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  input:focus {
    border-color: #1976d2;
    outline: none;
    background: #fff;
    box-shadow: 0 0 0 2px #1976d220;
  }
}
