<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Demo">
    <div class="content-area">
      <h2>Example 2 - Auto increment count</h2>

      <span>
        Count: {{ count() }}
      </span>
    </div>

  </mat-tab> 
  <mat-tab label="HTML">
    <markdown clipboard [src]="'assets/examples/signal/signal-example2/signal-example2.component-md.html'"></markdown>
  </mat-tab>
  <mat-tab label="TS">
    <markdown clipboard [src]="'assets/examples/signal/signal-example2/signal-example2.component.ts'"></markdown>
  </mat-tab>
</mat-tab-group>


