<div class="container">
  <div class="section-container">
    <div class="section">
      <h2>Resource Examples</h2>
      <div class="card-grid">
        @for (item of resourceExamples(); track item) {
          <a class="card-item" [routerLink]="item.routerLink">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ item.title }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ item.content }}
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        }
      </div>
    </div>

    <div class="section-divider"></div>

    <div class="section">
      <h2>rxResource Examples</h2>
      <div class="card-grid">
        @for (item of rxResourceExamples(); track item) {
          <a class="card-item" [routerLink]="item.routerLink">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ item.title }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ item.content }}
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        }
      </div>
    </div>

    <div class="section-divider"></div>

    <div class="section">
      <h2>httpResource Examples</h2>
      <div class="card-grid">
        @for (item of httpResoureExamples(); track item) {
          <a class="card-item" [routerLink]="item.routerLink">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ item.title }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ item.content }}
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        }
      </div>
    </div>
  </div>
</div>


